In [1]:
#This program predicts stock prices by using machine learning
#Install the dependencies
import quandl

import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [2]:
#Get the stock data
df =quandl.get("WIKI/AMZN")
# Take a look at the data
print(df.head())

             Open   High    Low  Close     Volume  Ex-Dividend  Split Ratio  \
Date
1997-05-16  22.38  23.75  20.50  20.75  1225000.0          0.0          1.0
1997-05-19  20.50  21.25  19.50  20.50   508900.0          0.0          1.0
1997-05-20  20.75  21.00  19.63  19.63   455600.0          0.0          1.0
1997-05-21  19.25  19.75  16.50  17.13  1571100.0          0.0          1.0
1997-05-22  17.25  17.38  15.75  16.75   981400.0          0.0          1.0

            Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume
Date
1997-05-16   1.865000   1.979167  1.708333    1.729167   14700000.0
1997-05-19   1.708333   1.770833  1.625000    1.708333    6106800.0
1997-05-20   1.729167   1.750000  1.635833    1.635833    5467200.0
1997-05-21   1.604167   1.645833  1.375000    1.427500   18853200.0
1997-05-22   1.437500   1.448333  1.312500    1.395833   11776800.0

In [3]:
# Get the Adjusted Close Price
df = df[['Adj. Close']]
#Take a look at the new data
print(df . head())

            Adj. Close
Date
1997-05-16    1.729167
1997-05-19    1.708333
1997-05-20    1.635833
1997-05-21    1.427500
1997-05-22    1.395833

In [4]:
df.tail(35)

            Adj. Close
Date
2018-02-06     1442.84
2018-02-07     1416.78
2018-02-08     1350.47
2018-02-09     1338.99
2018-02-12     1386.23
2018-02-13     1414.51
2018-02-14     1451.05
2018-02-15     1461.76
2018-02-16     1448.69
2018-02-20     1468.35
2018-02-21     1482.92
2018-02-22     1484.76
2018-02-23     1500.00
2018-02-26     1521.95
2018-02-27     1511.98
2018-02-28     1512.45
2018-03-01     1493.45
2018-03-02     1500.25
2018-03-05     1523.61
2018-03-06     1537.64
2018-03-07     1545.00
2018-03-08     1551.86
2018-03-09     1578.89
2018-03-12     1598.39
2018-03-13     1588.18
2018-03-14     1591.00
2018-03-15     1582.32
2018-03-16     1571.68
2018-03-19     1544.93
2018-03-20     1586.51
2018-03-21     1581.86
2018-03-22     1544.10
2018-03-23     1495.56
2018-03-26     1555.86
2018-03-27     1497.05

In [5]:
# A variable for predicting 'n' days out into the future
forecast_out = 30
#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['Adj. Close' ]].shift(-forecast_out)
#print the new data set
print (df.tail())

            Adj. Close  Prediction
Date
2018-03-21     1581.86         NaN
2018-03-22     1544.10         NaN
2018-03-23     1495.56         NaN
2018-03-26     1555.86         NaN
2018-03-27     1497.05         NaN

In [6]:
df

             Adj. Close  Prediction
Date
1997-05-16     1.729167    1.541667
1997-05-19     1.708333    1.515833
1997-05-20     1.635833    1.588333
1997-05-21     1.427500    1.911667
1997-05-22     1.395833    2.000000
...                 ...         ...
2018-03-21  1581.860000         NaN
2018-03-22  1544.100000         NaN
2018-03-23  1495.560000         NaN
2018-03-26  1555.860000         NaN
2018-03-27  1497.050000         NaN

[5248 rows x 2 columns]

In [7]:
### Create the independent data set (X) ######
# Convert the dataframe to a numpy array
X = np. array(df.drop(['Prediction'],1))
#Remove the last 'n' rows
X = X[ :-forecast_out]
print (X)

[[   1.72916667]
 [   1.70833333]
 [   1.63583333]
 ...
 [1350.47      ]
 [1338.99      ]
 [1386.23      ]]

In [8]:
### Create the dependent data set (y) #########
# Convert the dataframe to a numpy array (All of the values including the NaN's)
y = np. array(df['Prediction'])
# Get all of the y values except the last 'n' rows
y = y[ :-forecast_out]
print(y)

[1.54166667e+00 1.51583333e+00 1.58833333e+00 ... 1.49556000e+03
 1.55586000e+03 1.49705000e+03]

In [9]:
# Split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
# Create and train the Support Vector Machine (Regressor)
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
svr_rbf. fit(x_train, y_train)

SVR(C=1000.0, gamma=0.1)

In [11]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction.
# The best possible score is 1.0
svm_confidence = svr_rbf.score(x_test, y_test)
print("svm confidence: ", svm_confidence)

svm confidence:  0.9590920888893184

In [12]:
# Create and train the Linear Regression Model
lr = LinearRegression()
# Train the model
lr.fit(x_train, y_train)

LinearRegression()

In [13]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction.
# The best possible score is 1.8
lr_confidence = lr. score(x_test, y_test)
print("lr confidence: ", lr_confidence)

lr confidence:  0.9890447643851789

In [14]:
# Set x_forecast equal to the last 30 rows of the original data set from Adj. Close column
x_forecast = np. array(df.drop(['Prediction'],1))[-forecast_out:]
print(x_forecast)

[[1414.51]
 [1451.05]
 [1461.76]
 [1448.69]
 [1468.35]
 [1482.92]
 [1484.76]
 [1500.  ]
 [1521.95]
 [1511.98]
 [1512.45]
 [1493.45]
 [1500.25]
 [1523.61]
 [1537.64]
 [1545.  ]
 [1551.86]
 [1578.89]
 [1598.39]
 [1588.18]
 [1591.  ]
 [1582.32]
 [1571.68]
 [1544.93]
 [1586.51]
 [1581.86]
 [1544.1 ]
 [1495.56]
 [1555.86]
 [1497.05]]

In [15]:
#Print linear regression model predictions for the next 'n' days
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)

[1499.79395304 1538.62212447 1550.0027954  1536.1143389  1557.00546781
 1572.48785581 1574.44307846 1590.63742253 1613.96195353 1603.36762214
 1603.86705401 1583.67725497 1590.90307778 1615.72590439 1630.63447706
 1638.45536763 1645.74494771 1674.4675934  1695.18870295 1684.33934251
 1687.33593374 1678.11238344 1666.80609598 1638.38098416 1682.56476544
 1677.62357778 1637.49900873 1585.91938528 1649.99543172 1587.50269057]

In [16]:
# Print support vector regressor model predictions for the next 'n' days
svm_prediction = svr_rbf.predict(x_forecast)
print(svm_prediction)

[1058.4769904  1550.9541541   679.81791617 1082.63031022  679.78508926
  679.78508926  679.78508926  679.78508926  679.78508926  679.78508926
  679.78508926  679.78508926  679.78508926  679.78508926  679.78508926
  679.78508926  679.78508926  679.78508926  679.78508926  679.78508926
  679.78508926  679.78508926  679.78508926  679.78508926  679.78508926
  679.78508926  679.78508926  679.78508926  679.78508926  679.78508926]